<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptinthethao_java">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTinTheThao_Java">
        <activity android:name=".activity.ChiTietCauThuActivity"></activity>
        <activity android:name=".activity.ListCauThuActivity" />
        <activity android:name=".activity.SearchPostsActivity"></activity>
        <activity android:name=".activity.ListCLBActivity" />
        <activity android:name=".activity.BangXepHangActivity" />
        <activity android:name=".activity.AdminActivity" />
        <activity android:name=".activity.BangXepHangActivity" />
        <activity android:name=".activity.ChiTietCLBActivity" />
        <activity android:name=".activity.DienBienActivity" />
        <activity android:name=".activity.DetailPostActivity" />
        <activity android:name=".activity.DieuKhoanActivity" />
        <activity android:name=".activity.DangKyActivity" />
        <activity android:name=".activity.LichThiDauActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.CauLacBoActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>